  
  html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color:#141414;
    color: #F3F3F3;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }

script{
display:block;
  


}
  /* timer */
  h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  color: white;
   }

.Coming-soon-image {
    background-image:linear-gradient(rgba(122, 118, 118, 0.5), rgba(54, 53, 53, 0.5)),  url("https://img3.hulu.com/user/v3/artwork/9c91ffa3-dc20-48bf-8bc5-692e37c76d88?base_image_bucket_name=image_manager&base_image=747157b1-4581-414a-959f-c4956ebc3349&size=1200x630&format=jpeg");  
    height: 80%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
     transition: transform .2s;  
  }

 
  
  /* Place text in the middle of the image */
  .Coming-soon-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
     } 
   
  img {
    max-width: 100%;
  
}
  

.main-container image :hover {
    color: #686868;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color:#141414;
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 200px;
    max-height: 200%;
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .netflixLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    aligne-element: center;
  }
  
  .main-nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 10px;  
  }
  
  .main-nav a:hover {
    color: #686868;
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: #686868;
  }
  
  
  /* MAIN CONTIANER */
  .main-container {
    padding: 50px;
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
    transition: transform .2s;  
  }
  
  .box a:hover {
    transition: transform .2s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 5px;
  }
  
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding-top: 20px;
    display: grid;
   grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .sub-links a {
    color:#686868 ;
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: #686868;
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
    align-content: center;

  }
  
  .logo {
    color: #686868
  }
  
  
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: #686868;
    margin: 10px;
  }
  
 
}
  html, body {
    width: 100vw;
    min-height: 100vh;
    background-color: #141414;
    color: #F3F3F3;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    text-align: center;
  }
  form {
    border: 1px solid #f1f1f1;
    margin: auto;
    display: inline-block;

    
    
  }
  input[type=text], input[type=password] {
    margin-bottom: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: auto;
  }
  
  /* Set a style for all buttons */
  button {
    margin-bottom: 50px;
    margin-right: 100px;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    transition: transform .2s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.3);
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 15px 30px;
    background-color:white;
  }
